# Environment & Keys
.env
*.env
*.log

# Python / Virtualenv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
ENV/
*.sqlite3

# Node / Angular
node_modules/
dist/
.angular/
.vscode/
.idea/

# OS / Misc
.DS_Store
Thumbs.db
check_db.py
